" set viminfo
set viminfo='100,<50,s10,h,f1
" make system clipboard sync unnamedplus register
set clipboard^=unnamed,unnamedplus
" keep cursor at center of buffer
set scrolloff=12
" enable highlight-search
set hls
" set virtualedit=block
set virtualedit=block
" enable incremental search
set incsearch

" ________________________ enable / disable Pulgins ____________________________
" Enable EasyMotion and AceJump: https://github.com/AlexPl292/IdeaVim-EasyMotion
set easymotion
" Enable vim-surround: https://github.com/tpope/vim-surround
set surround
" Enable vim-exchange
set exchange
" Enable ReplaceWithRegister: https://github.com/vim-scripts/ReplaceWithRegister
set ReplaceWithRegister
" Enable textobj-entire: https://github.com/kana/vim-textobj-entire
set textobj-entire
" ______________________ Use the power of IJ and Vim ___________________________
set ideajoin

set ideamarks

" ______________________________ Key Mapping ___________________________________
inoremap <C-p> <Up>
inoremap <C-n> <Down>
inoremap <C-b> <Left>
inoremap <C-f> <Right>

nnoremap <C-n> 3j
nnoremap <C-p> 3k
nnoremap <Tab> i<Tab><Esc>l

" https://github.com/JetBrains/ideavim#executing-ide-actions
" - For the mappings you can use a special <Action> keyword. Don't forget the parentheses.
" - E.g. map gh <Action>(ShowErrorDescription) <- execute hover on gh.
" - Mappings to <Action> don't work with noremap.
vmap <tab> <Action>(EditorIndentSelection)

nmap ,c <Action>(CallHierarchy)
nmap ,r <Action>(RenameElement)
nmap ,v <Action>(IntroduceVariable)
nmap ,b <Action>(ShowBookmarks)
nmap ,m <Action>(ToggleBookmark) \| <Action>(Bookmarks)

nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

nmap <C-i> <Action>(Forward)
nmap <C-o> <Action>(Back)


